# Obtén y conoce tus datos



### 1. Importa las librerías necesarias

In [2]:
import numpy as np
import pandas as pd

### 2. Importa el dataset de este [enlace](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user) y guárdalo en una variable llamada users. Usa pd.read_csv()

In [3]:
users = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user", sep="|")
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### 3. Muestra las 25 primeros registros

In [4]:
users[0:25]

    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301
15       16   21      M  entertainment    10309
16       17   30      M     programmer    06355
17       18   35      F          other    37212
18       19   40      M      librarian    02138
19       20   42      F      homemaker    95660
20       21   26      M         writer    30068
21       22   25      M         writer    40206
22       23   30      F         artist    48197
23       24   21      F         artist    94533
24       25   39      M       engineer    55107

### 4. Muestra las 25 primeros registros de otra forma

In [5]:
users[25:0:-1]

    user_id  age gender     occupation zip_code
25       26   49      M       engineer    21044
24       25   39      M       engineer    55107
23       24   21      F         artist    94533
22       23   30      F         artist    48197
21       22   25      M         writer    40206
20       21   26      M         writer    30068
19       20   42      F      homemaker    95660
18       19   40      M      librarian    02138
17       18   35      F          other    37212
16       17   30      M     programmer    06355
15       16   21      M  entertainment    10309
14       15   49      F       educator    97301
13       14   45      M      scientist    55106
12       13   47      M       educator    29206
11       12   28      F          other    06405
10       11   39      F          other    30329
9        10   53      M         lawyer    90703
8         9   29      M        student    01002
7         8   36      M  administrator    05201
6         7   57      M  administrator    91344
5         6   42      M      executive    98101
4         5   33      F          other    15213
3         4   24      M     technician    43537
2         3   23      M         writer    32067
1         2   53      F          other    94043

### 5. Muestra los últimos 25 registros

In [6]:
users[-25::]

     user_id  age gender     occupation zip_code
918      919   25      M          other    14216
919      920   30      F         artist    90008
920      921   20      F        student    98801
921      922   29      F  administrator    21114
922      923   21      M        student    E2E3R
923      924   29      M          other    11753
924      925   18      F       salesman    49036
925      926   49      M  entertainment    01701
926      927   23      M     programmer    55428
927      928   21      M        student    55408
928      929   44      M      scientist    53711
929      930   28      F      scientist    07310
930      931   60      M       educator    33556
931      932   58      M       educator    06437
932      933   28      M        student    48105
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

### 6. Cuántos registros hay en total en este dataset?
Resuélvelo de al menos dos formas diferentes

In [7]:
len(users)

943

In [8]:
users.index

RangeIndex(start=0, stop=943, step=1)

### 7. Cuántas columnas hay en total en este dataset?
Resuélvelo de al menos dos formas diferentes

In [9]:
users.shape

(943, 5)

In [10]:
users.values

array([[1, 24, 'M', 'technician', '85711'],
       [2, 53, 'F', 'other', '94043'],
       [3, 23, 'M', 'writer', '32067'],
       ...,
       [941, 20, 'M', 'student', '97229'],
       [942, 48, 'F', 'librarian', '78209'],
       [943, 22, 'M', 'student', '77841']], shape=(943, 5), dtype=object)

### 8. Haz un print de cada uno de los nombres de las columnas

In [11]:
list(users.columns.values)

['user_id', 'age', 'gender', 'occupation', 'zip_code']

### 9. Accede al índice, a los nombres de las columnas y a los valores por separado

In [12]:
print(list(users.index))
print(list(users.columns.values))
print(list(users.values))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942]
['user_id', 'age', 'gender', 'occupation', 'zip_code']

### 10. Cuál es el tipo de cada columna del dataset?
Hazlo de dos formas diferentes

In [13]:
print(type(users.columns[0]))
print(type(users.columns[1]))
print(type(users.columns[2]))
print(type(users.columns[3]))
print(type(users.columns[4]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

### 11. Haz un print solo de la columna de occupation
Hazlo de dos formas diferentes

In [14]:
print(users['occupation'])

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

In [15]:
for ocupacion in users['occupation']:
    print(ocupacion)

technician
other
writer
technician
other
executive
administrator
administrator
student
lawyer
other
other
educator
scientist
educator
entertainment
programmer
other
librarian
homemaker
writer
writer
artist
artist
engineer
engineer
librarian
writer
programmer
student
artist
student
student
administrator
homemaker
student
student
other
entertainment
scientist
engineer
administrator
librarian
technician
programmer
marketing
marketing
administrator
student
writer
educator
student
programmer
executive
programmer
librarian
none
programmer
educator
healthcare
engineer
administrator
marketing
educator
educator
student
student
student
engineer
engineer
scientist
administrator
student
scientist
entertainment
student
technician
administrator
administrator
administrator
student
programmer
other
executive
educator
administrator
administrator
librarian
administrator
educator
marketing
entertainment
executive
student
administrator
artist
artist
executive
student
executive
student
programmer
student
student
engineer
retired
scientist
educator
other
student
engineer
salesman
executive
programmer
engineer
healthcare
student
administrator
programmer
other
librarian
writer
artist
student
lawyer
lawyer
none
marketing
marketing
none
administrator
other
engineer
programmer
student
other
educator
doctor
student
student
programmer
other
technician
programmer
entertainment
artist
librarian
engineer
marketing
artist
administrator
educator
student
student
other
educator
engineer
educator
student
programmer
lawyer
artist
administrator
healthcare
other
educator
other
other
other
healthcare
educator
marketing
other
administrator
scientist
scientist
programmer
other
entertainment
administrator
executive
programmer
scientist
librarian
librarian
executive
educator
student
artist
administrator
administrator
educator
student
administrator
scientist
writer
technician
student
writer
programmer
writer
educator
student
librarian
lawyer
student
marketing
engineer
educator
engineer
salesman
educator
executive
librarian
programmer
engineer
other
administrator
programmer
librarian
student
programmer
student
educator
administrator
student
executive
student
librarian
student
librarian
scientist
engineer
retired
educator
writer
administrator
administrator
artist
educator
student
educator
educator
technician
student
student
engineer
student
student
executive
doctor
engineer
librarian
educator
entertainment
none
student
student
student
artist
administrator
student
programmer
writer
executive
administrator
engineer
engineer
librarian
student
engineer
scientist
other
student
engineer
student
administrator
librarian
programmer
librarian
student
administrator
programmer
executive
programmer
student
salesman
marketing
none
engineer
student
programmer
writer
technician
educator
administrator
educator
executive
doctor
programmer
student
educator
student
student
programmer
other
student
retired
scientist
educator
technician
other
marketing
student
educator
other
administrator
retired
programmer
student
educator
student
student
student
technician
administrator
student
administrator
educator
educator
entertainment
student
other
librarian
executive
salesman
scientist
librarian
lawyer
engineer
student
other
engineer
librarian
librarian
other
student
student
retired
student
educator
programmer
scientist
librarian
student
homemaker
executive
educator
student
other
student
homemaker
student
engineer
lawyer
student
student
student
student
writer
engineer
student
other
executive
entertainment
other
student
student
programmer
engineer
artist
engineer
administrator
programmer
writer
salesman
entertainment
other
writer
writer
student
writer
student
administrator
other
engineer
student
other
other
administrator
healthcare
engineer
other
programmer
healthcare
educator
engineer
student
administrator
artist
educator
educator
educator
programmer
educator
student
other
none
lawyer
educator
programmer
entertainment
other
marketing
student
educator
doctor
student
student
scientist
marketing
entertainment
artist
student
engineer
administrator
other
administrator
administrator
other
technician
student
salesman
lawyer
writer
educator
administrator
entertainment
librarian
educator
student
administrator
student
other
administrator
technician
salesman
technician
student
other
student
student
healthcare
writer
other
student
engineer
engineer
educator
programmer
student
student
student
executive
programmer
student
student
other
educator
retired
retired
student
scientist
student
educator
educator
engineer
technician
other
artist
writer
educator
engineer
administrator
engineer
student
student
writer
programmer
administrator
student
student
writer
writer
other
programmer
writer
marketing
administrator
other
student
other
administrator
programmer
marketing
librarian
student
writer
other
healthcare
student
engineer
administrator
educator
administrator
marketing
librarian
student
administrator
engineer
salesman
student
librarian
student
educator
engineer
engineer
scientist
administrator
engineer
student
student
scientist
other
technician
executive
educator
writer
scientist
student
programmer
other
educator
scientist
educator
educator
writer
writer
executive
student
engineer
administrator
librarian
retired
student
student
entertainment
educator
educator
educator
artist
educator
retired
educator
marketing
executive
student
administrator
educator
student
other
student
engineer
student
librarian
student
other
student
lawyer
educator
librarian
student
educator
educator
programmer
artist
other
marketing
student
programmer
artist
other
programmer
educator
engineer
programmer
healthcare
other
student
student
librarian
educator
marketing
educator
educator
scientist
writer
student
student
writer
student
programmer
educator
student
programmer
scientist
engineer
none
other
healthcare
student
student
programmer
engineer
other
educator
other
engineer
librarian
student
student
student
scientist
retired
programmer
student
educator
engineer
student
engineer
retired
other
executive
student
healthcare
educator
none
programmer
educator
student
programmer
librarian
other
engineer
administrator
administrator
librarian
writer
other
technician
programmer
administrator
educator
student
other
programmer
other
educator
student
lawyer
marketing
programmer
librarian
student
librarian
educator
healthcare
administrator
other
salesman
educator
engineer
healthcare
programmer
writer
other
other
programmer
other
student
librarian
other
educator
librarian
student
student
librarian
homemaker
other
student
student
student
other
engineer
technician
administrator
technician
technician
other
administrator
entertainment
homemaker
executive
executive
student
administrator
student
executive
student
scientist
educator
other
other
other
healthcare
writer
programmer
technician
technician
educator
writer
student
programmer
marketing
writer
engineer
other
administrator
other
administrator
other
retired
salesman
librarian
educator
none
student
student
student
other
student
administrator
scientist
educator
student
other
engineer
administrator
executive
student
student
writer
student
student
executive
librarian
programmer
student
student
programmer
student
artist
marketing
administrator
engineer
engineer
student
administrator
other
technician
educator
programmer
student
educator
programmer
writer
other
writer
administrator
programmer
writer
administrator
administrator
educator
other
marketing
healthcare
salesman
marketing
other
educator
technician
student
other
other
other
student
librarian
administrator
student
engineer
librarian
artist
other
engineer
artist
engineer
librarian
writer
programmer
other
technician
writer
other
executive
artist
artist
student
entertainment
artist
doctor
writer
librarian
engineer
doctor
lawyer
student
engineer
student
technician
other
administrator
writer
student
librarian
marketing
administrator
educator
other
retired
student
executive
student
programmer
artist
other
scientist
programmer
student
student
executive
student
administrator
scientist
student
other
other
educator
administrator
student
marketing
engineer
librarian
engineer
other
student
student
scientist
technician
student
administrator
other
student
educator
librarian
writer
other
homemaker
other
retired
executive
artist
educator
student
other
librarian
other
librarian
educator
healthcare
writer
other
student
other
entertainment
engineer
student
scientist
other
artist
student
administrator
student
other
salesman
entertainment
programmer
student
scientist
scientist
educator
educator
student
engineer
doctor
other
educator
technician
student
administrator
student
librarian
student

### 12. ¿Cuántas profesiones diferentes hay? ¿Y personas por profesión?

In [18]:
print(users['occupation'].nunique())
print()
print(users['occupation'].value_counts())

21

occupation
student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: count, dtype: int64

### 13. ¿Cuál es la profesión más común?

In [19]:
print(users['occupation'].value_counts())

occupation
student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: count, dtype: int64

### 14. Obtén un resumen de las principales medidas estadísticas de las variables numéricas.  Usa describe()

In [23]:
users.describe()

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

### 15. Obtén un resumen de las principales medidas estadísticas de todas las variables.  Usa describe()

In [22]:
users.describe(include='all')

           user_id         age gender occupation zip_code
count   943.000000  943.000000    943        943      943
unique         NaN         NaN      2         21      795
top            NaN         NaN      M    student    55414
freq           NaN         NaN    670        196        9
mean    472.000000   34.051962    NaN        NaN      NaN
std     272.364951   12.192740    NaN        NaN      NaN
min       1.000000    7.000000    NaN        NaN      NaN
25%     236.500000   25.000000    NaN        NaN      NaN
50%     472.000000   31.000000    NaN        NaN      NaN
75%     707.500000   43.000000    NaN        NaN      NaN
max     943.000000   73.000000    NaN        NaN      NaN

### 16. Obtén un resumen de las principales medidas estadísticas de solo la columna occupation.  Usa describe()

In [24]:
users['occupation'].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### 17. ¿Cuál es la edad media?

In [26]:
print(users['age'].mean())

34.05196182396607

### 18. ¿Cuál es la edad menos frecuente?

In [27]:
print(users['age'].value_counts())

age
30    39
25    38
22    37
28    36
27    35
      ..
7      1
11     1
66     1
10     1
73     1
Name: count, Length: 61, dtype: int64