# Ejercicios programación funcional

### 1. Utiliza map para elevar al cuadrado cada número en la lista [1, 2, 3, 4, 5].

Solución esperada: [1, 4, 9, 16, 25]

In [2]:
lista = [1,2,3,4,5]
cuadrado = lambda x: x * x

print(list(map(cuadrado, lista)))

[1, 4, 9, 16, 25]

### 2. Filtrar números pares de una lista:

Emplea filter para obtener sólo los números pares de la lista [1, 2, 3, 4, 5, 6].

Solución esperada: [2, 4, 6]

In [7]:
lista1 = [1,2,3,4,5,6]

def pares(x):
    if x % 2 == 0:
        return True
    else:
        return False
    
solucion = list(filter(pares, lista1))

print(solucion)

[2, 4, 6]

### 3. Convertir grados Celsius a Fahrenheit:

Usa map y una función lambda para convertir una lista de temperaturas en grados Celsius [0, 10, 20, 30] a Fahrenheit.

Solución esperada: [32.0, 50.0, 68.0, 86.0]

In [9]:
grados_celsius = [0, 10, 20, 30]

conversor = lambda x: (x * 9 / 5) + 32

print(list(map(conversor, grados_celsius)))

[32.0, 50.0, 68.0, 86.0]

### 4. Sumar los cuadrados de los números pares de una lista:

Combina filter, map y reduce (importa reduce desde functools) para sumar los cuadrados de los números pares en [1, 2, 3, 4, 5, 6].

Solución esperada: 56

In [15]:
from functools import reduce
numeros = [1, 2, 3, 4, 5, 6]
resultado = reduce(lambda x, y: x + y, map(lambda x: x**2, filter(lambda x: x % 2 == 0, numeros)))  # No sabía lo que era reduce, por lo visto reduce una secuencia a un solo valor. 
print(resultado)

56

### 5. Encadenar map, filter, y reduce para resolver un problema complejo:

Dada una lista de strings que representan números enteros y "NA" (por ejemplo, ["2", "5", "NA", "9", "10"]), convierte los números a enteros, filtra los "NA", suma el cuadrado de los números que son mayores que 5 y menores que 10.

Solución esperada: Un único valor que es la suma de los cuadrados de los números válidos.

In [22]:
lista2 = ["2", "5", "NA", "9", "10"]
numero_final = reduce(lambda x, y: x + y, map(lambda x: int(x)**2, filter(lambda x: x != "NA" and int(x) > 5 and int(x) < 10, lista2)))   # Olé, con un poquitín de ayuda he conseguido hacerlo, al principio metí todos los AND del filter en sus propios paréntesis pero me daba error, ahí es cuando pedí un poco de ayuda.
print(numero_final)

81