![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [1]:
ejer_1 = [1,2,3,4,5]

Otra forma

In [ ]:
ejer_1 = ejer_1.reverse() # Aquí definí mal, pero no sé muy bien por qué.

In [3]:
ejer_1

In [4]:
print(ejer_1)

None

In [5]:
ejer_1 = [1,2,3,4,5]

In [6]:
ejer_1.reverse()
print(ejer_1)

[5, 4, 3, 2, 1]

Otra forma

In [7]:
ejer_1 = [1,2,3,4,5]

In [15]:
ejer_1 = ejer_1[::-1]

In [16]:
print(ejer_1)

[5, 4, 3, 2, 1]

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [17]:
ejer_2 = [1,2,3,4,5]

In [18]:
for x in ejer_2:
    print(x ** 2)

1
4
9
16
25

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

```['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']```

In [21]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]

ejer_3_3 = ejer_3_1 + ejer_3_2
print(ejer_3_3)

['Hola', 'amigo', 'Que', 'tal']

In [26]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]

ejer_3_4 = [(ejer_3_1[0]) + " " + (ejer_3_2[0])], [(ejer_3_1[0]) + " " + (ejer_3_2[1])], [(ejer_3_1[1]) + " " + (ejer_3_2[0])], [(ejer_3_1[1]) + " " + (ejer_3_2[1])]

In [27]:
print(ejer_3_4)

(['Hola Que'], ['Hola tal'], ['amigo Que'], ['amigo tal'])

## Ejercicio 4
Dada la siguiente lista, encuentra por el índice el valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [39]:
ejer_4 = [20 , 47 , 19 , 29 , 45 , 67 , 78 , 90]

In [40]:
ejer_4.index(45)

4

In [41]:
for x in ejer_4:
    if x == 45:
        ejer_4.remove(45)
        ejer_4.insert(4, 0)

In [42]:
print(ejer_4)

[20, 47, 19, 29, 0, 67, 78, 90]

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [43]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
ejer_5_1 = []

for x in ejer_5:
    if x != 3:
        ejer_5_1.append(x)

In [44]:
print(ejer_5_1)

[20, 47, 19, 29, 45, 67, 78, 90]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y último elemento de la tupla del apartado 3. Usa `len` para el último
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [58]:
tupla1 = ("Klaksfo", "Sumsle", "Flonxflix")

In [59]:
print(type(tupla1))

<class 'tuple'>

In [72]:
tupla2 = (3,)
print(type(tupla2))

tupla3 = ("Madrid", 37, "48.34")

print(tupla3[0])
print(len(tupla3[2]))

tupla4 = list(tupla3)
print(tupla4)
tupla4.append("Gerónimo")
print(tupla4)
tupla4.remove(37)

tupla5 = tuple(tupla4)
tupla6 = list(tupla5)
print(tupla6)

<class 'tuple'>
Madrid
5
['Madrid', 37, '48.34']
['Madrid', 37, '48.34', 'Gerónimo']
['Madrid', '48.34', 'Gerónimo']

## Ejercicio 7
Concatena todos los elementos de la tupla en un único string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [77]:
ejer_7 = ("cien", "cañones", "por", "banda")

ejer_7_concatenado = " ".join(ejer_7) # Todo esto lo he mirado en https://www.datacamp.com/tutorial/python-concatenate-strings?utm_cid=19589720821&utm_aid=157156375191&utm_campaign=230119_1-ps-other~dsa~tofu_2-b2c_3-emea_4-prc_5-na_6-na_7-le_8-pdsh-go_9-nb-e_10-na_11-na&utm_loc=9196150-&utm_mtd=-c&utm_kw=&utm_source=google&utm_medium=paid_search&utm_content=ps-other~emea-en~dsa~tofu~tutorial~python&gad_source=1&gad_campaignid=19589720821&gclid=Cj0KCQjwgpzIBhCOARIsABZm7vFAx3uuCRUHGpA0EP407RxVknp8S0P9-Z7z0F6yzYAcWoWQSYkcE5QaAuxwEALw_wcB&dc_referrer=https%3A%2F%2Fwww.google.com%2F
print(ejer_7_concatenado)

cien cañones por banda

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [82]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)

print(ejer_8[2])
print(ejer_8[-3])

3
90

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posición 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
4. Comprueba si el numero 60 está en la tupla
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [ ]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
ejer_9_mitupla = []
ejer_9_enumerado = enumerate(ejer_9)

for x in ejer_9_enumerado:
    if str(len(x[0])) >= 4 and str(len(x[0])) <= 9:     # No he conseguido hacer este...
        ejer_9_mitupla.append(x)

print(tuple(ejer_9_mitupla))

TypeError: object of type 'int' has no len()

## Ejercicio 10
1. Convierte la tupla del ejercicio 9 en una lista
2. Convierte la tupla del ejercicio 9 en un set
3. Convierte la tupla del ejercicio 9 en un diccionario. Usa también los índices

In [92]:
ejer_10 = list(ejer_9)
ejer_10_set = set(ejer_9)
ejer_10_dict = dict(enumerate(ejer_9))

print(ejer_10)
print(ejer_10_set)
print(ejer_10_dict)

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7]
{2, 3, 67, 5, 4, 7, 6, 9, 45, 78, 47, 19, 20, 90, 29}
{0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}

## Ejercicio 11
Convierte la siguiente lista en un diccionario
> ```ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

In [ ]:
ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
ejer_11_dict = {}

for clave , valor in ejer_11:
    ejer_11_dict[clave] = valor    # Esto lo he mirado en internet. Al parecer en un diccionario no puede haber claves repetidas ¿no?

print(ejer_11_dict)

{'x': 3, 'y': 2, 'z': 1}

## Ejercicio 12
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave igual a 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un único for
> ```ejer_12 = {4:78, 2:98, 8:234, 5:29}```

In [ ]:
ejer_12 = {4:78, 2:98, 8:234, 5:29}

ejer_12_list = list(ejer_12)
print(sorted(ejer_12_list))
print(sorted(ejer_12_list, reverse=True))

ejer_12[7] = 36
print(ejer_12)

for clave, valor in ejer_12.items():    # .items necesita un paréntesis. (Lo he tenido que mirar otra vez, las listas, tuplas y diccionarios se me complican...)
    if clave == 2:
        print(valor)

[2, 4, 5, 8]
[8, 5, 4, 2]
{4: 78, 2: 98, 8: 234, 5: 29, 7: 36}
98

## Ejercicio 13
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_13_1 = {1: 11, 2: 22}```
>
> ```ejer_13_2 = {3: 33, 4: 44}```

In [112]:
ejer_13_1 = {1:11, 2:22}
ejer_13_2 = {3:33, 4:44}

ejer_13_1.update(ejer_13_2)
print(ejer_13_1)

{1: 11, 2: 22, 3: 33, 4: 44}

## Ejercicio 14
Suma todos los valores del dicionario
> ```ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [ ]:
ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
suma_total = 0

for clave, valor in ejer_14.items():    # Esto tampoco tenía idea de hacerlo. Los otros que he tenido que mirar al menos ha sido por haberme olvidado de algo, este directamente no lo he entendido en el foro. El resultado es correcto, pero creo que eso de += no lo hemos visto ¿no?
    suma_total += valor

print(suma_total)

165

## Ejercicio 15
Multiplica todos los valores del diccionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [ ]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55} # A ver, habiendo visto en internet la fórmula de arriba, a lo mejor lo puedo hacer igual con una multiplicación, voy a probar.
multiplicacion_total = 0

for clave, valor in ejer_15.items():
    multiplicacion_total *= valor

print(multiplicacion_total)    # Pues parece que no, el resultado que obtengo es 0 y no debiera.

0

In [ ]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}   # Voy a probar de otra forma.
multiplicacion_total = 1

for clave, valor in ejer_15.items():
    if valor > 10:
        multiplicacion_total = multiplicacion_total * valor

print(multiplicacion_total)     # Olé! Lo conseguí, de una forma un tanto extraña pero ahñi está.

19326120

## Ejercicio 16
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el último elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`

In [ ]:
colores = {"rojo", "azul", "blanco"}
colores.add("marrón")
colores.remove("marrón")
colores.discard(10)

In [122]:
print(colores)

{'rojo', 'azul', 'blanco'}

In [123]:
colores.discard("rojo")

In [124]:
print(colores)

{'azul', 'blanco'}